html{
    height: 100%;
    width: 100%;
}
#formEntries{
    margin-top: 250px;
}
#navBar{
    opacity: 0.8;
}
.formDesign{
    border: #bc5039 2px solid;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 15px;
    opacity: 0.8;
}
#enterButton {
    background: #D69256; 
    color: #701400;
    border-color: #701400;
    opacity: 1.0;
}
#landingDiv {
    background: rgba(223, 159, 85, 0.89);
    border-radius: 5px;
    position: relative;
    transform: translateY(100%);
}
